# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Raw dataset files and large preprocessed caches
data/raw/*
!data/raw/.gitkeep
data/preprocessed/*
!data/preprocessed/.gitkeep
data/residuals/*
!data/residuals/.gitkeep

# Environment files
.env
.venv
env/
venv/

# OS specific files
.DS_Store
Thumbs.db
desktop.ini
~$*
